body{
    text-align: center;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(240, 205, 205);
    
}
#lista{
    background-color: lightblue;
    border: 1px solid black;
}
#test{
    padding: 50px;
    border: 1px solid black;
    float: left;
    margin-left: 40%;
    background-color: rgb(175, 159, 159);
}
